@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?etws6l');
  src:  url('fonts/icomoon.eot?etws6l#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?etws6l') format('truetype'),
    url('fonts/icomoon.woff?etws6l') format('woff'),
    url('fonts/icomoon.svg?etws6l#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-home2:before {
  content: "\e901";
}
.icon-home3:before {
  content: "\e902";
}
.icon-headphones:before {
  content: "\e910";
}
.icon-pacman:before {
  content: "\e916";
}
.icon-phone:before {
  content: "\e942";
}
.icon-location:before {
  content: "\e947";
}
.icon-bubbles:before {
  content: "\e96c";
}
.icon-search:before {
  content: "\e986";
}
.icon-zoom-in:before {
  content: "\e987";
}
.icon-zoom-out:before {
  content: "\e988";
}
.icon-evil:before {
  content: "\e9ef";
}
