* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

input,
button {
    outline: none;
    border: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

body {
    background-color: #f3f5f7;
}


/* 版心 */

.w {
    width: 1200px;
    margin: 0 auto;
}


/* header */

.header {
    padding-top: 30px;
    height: 42px;
}

.logo {
    margin-right: 55px;
}

.nav ul>li {
    margin: 0 15px;
}

.nav ul li a {
    padding: 0 10px;
    font-size: 18px;
    line-height: 40px;
    color: #050505;
}

.nav ul li:hover {
    border-bottom: 2px solid #00a4ff;
}

.search {
    margin-left: 70px;
    width: 411px;
    height: 42px;
}

.search input {
    width: 360px;
    height: 40px;
    border: 1px solid #00a4ff;
    border-right: none;
}

.search button {
    width: 50px;
    height: 42px;
    background: url(images/search.png);
}

.user {
    margin-right: 30px;
    font-size: 14px;
    color: #666666;
    line-height: 42px;
}

.user img {
    height: 42px;
    vertical-align: middle;
}


/* header  */


/* banner */

.banner {
    width: 100%;
    height: 420px;
    background-color: #1c036c;
}

.banner_bd {
    position: relative;
    margin: 30px auto 0;
    height: 420px;
    background: url(images/banner2.png) no-repeat center;
}

.subnav {
    width: 190px;
    height: 100%;
    background: rgba(0, 0, 0, .3);
}

.subnav ul>li {
    float: left;
    width: 140px;
    padding: 0 25px;
    line-height: 45px;
}

.subnav ul li a {
    color: #ffffff;
    font-size: 14px;
}

.subnav ul li a:hover {
    color: #00a4ff;
}

.subnav ul li a span {
    float: right;
}

.banner_bd_r {
    width: 1010px;
}

.course {
    float: right;
    margin-top: 50px;
    width: 230px;
    height: 300px;
    background-color: #ffffff;
}

.course_hd h3 {
    height: 50px;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    background-color: #9bceea;
    line-height: 50px;
}

.course_bd {
    padding: 15px 25px;
}

.course_bd ul li {
    margin-top: 10px;
    height: 50px;
    border-bottom: 1px solid #efefef;
}

.course_bd ul li h4 {
    color: #4e4e4e;
    font-size: 16px;
}

.course_bd ul li p {
    font-size: 12px;
    color: #a5a5a5;
}

.course_bd div {
    margin-top: 5px;
    width: 178px;
    height: 38px;
    border: 1px solid #00a4ff;
    text-align: center;
}

.course_bd div a {
    line-height: 38px;
    color: #00a4ff;
    font-size: 16px;
}

.banner_bd .dot {
    position: absolute;
    bottom: 30px;
    left: 480px;
    height: 20px;
    text-align: center;
}

.dot ul li {
    float: left;
    width: 12px;
    height: 12px;
    margin: 8px;
    border-radius: 6px;
    line-height: 20px;
    background: rgba(255, 255, 255, .3);
}

.dot ul .first {
    width: 17px;
    background-color: #fff;
}


/* banner */


/* 精品推荐 */

.menu {
    height: 60px;
    margin-top: 10px;
    box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, .2);
    line-height: 60px;
    background-color: #fff;
}

.menu h3 {
    line-height: 60px;
    color: #65b6e6;
    font-size: 16px;
    margin: 0 30px;
}

.menu div ul>li {
    float: left;
}

.menu div ul>li a {
    padding: 0 30px;
    border-left: 1px solid #bfbfbf;
    font-size: 16px;
    color: #050505;
}

.mod a {
    margin-right: 30px;
    font-size: 14px;
    color: #00a4ff;
}


/* 精品推荐 */